body {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background: linear-gradient(135deg, #010125, #030352);
    height: 400px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login label {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    text-align: left; /* Alinha o texto à esquerda */
    width: 95%; /* Garante que ocupe toda a largura do contêiner */
}

.l-usuario {
   display: flexbox;
   justify-items: right;
}

.login h2 {
    color: white;
    margin-bottom: 15px;
}

img {
    width: 50px;
    border-radius: 5px;
    margin-bottom: 2px;
}

input {
    width: 90%; /* Ocupa toda a largura do contêiner */
    height: 20px;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: left; /* Alinha o texto dentro do input à esquerda */
    font-size: 14px;
}


.btn-entrar {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    width: 60%;
}

.btn-entrar:hover {
    background: #218838;
}

p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

a {
    color:  white;
}