body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    
    font-style: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2525c7, #1a1a8f);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}

.container {
    max-width: 400px;
    padding: 40px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 400px;
    animation: fadeIn 0.5s ease-in-out;
    height: 500px;
    margin: 0;
}

img {
    width: 50px;
    display: block;
    margin: 0 auto 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    top: 100px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #218838;
    transform: scale(1.05);
}

footer {
    background-color: #218838;
    
    text-align: top;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    height: 50px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        
        max-width: 90%;
        padding: 20px;
        align-items: center;
    }
    
    footer {
        padding: 1rem;
    }
}
