body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    
    font-style: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1717cf, #02d2f7);
    background-repeat: no-repeat;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    max-width: 900px;
    padding: 40px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 700px;
    animation: fadeIn 0.5s ease-in-out;
    height: 400px;
    margin: 0;
}

.container h2 {
    text-align: center;
    font-weight: bold;
}

.container h3 {
    text-align: center;
    font-weight: bold;
}

img {
    width: 80px;
    display: block;
    margin: 0 auto 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flexbox;

    color: #333;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    
    
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);


}

input[type="checkbox"] {
    width: 20px; /* Define a largura */
    height: 20px; /* Define a altura */
    transform: scale(1.5); /* Aumenta o tamanho do checkbox */
    cursor: pointer; /* Mantém o cursor indicando clique */
}


.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os checkboxes horizontalmente */
    gap: 15px; /* Adiciona espaçamento entre os checkboxes */
    text-align: center;
    margin-top: 10px;
}

.checkbox-container label {
    display: flex;
    align-items: center; /* Centraliza o texto com o checkbox */
    gap: 8px; /* Espaço entre o checkbox e o texto */
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    width: 200px;
    left: 10px;
    bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    position: relative;
    height: 40px;
    bottom: 25px;

    

}

button:hover {
    background: #218838;
    transform: scale(1.05);
}

.btn-sair {
    max-width: 1000%;
    background: #a73728;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    width: 200px;
    height: 40px;
    bottom: 25px;
    right: 00px;
    left: 300px;
    position: relative;
    
    
    
}

.btn-sair:hover {
    background: #a73728;
}

footer {
    background-color: #218838;
    
    text-align: top;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    height: 780px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        
        max-width: 90%;
        padding: 20px;
        align-items: center;
    }
    
    footer {
        padding: 1rem;
    }
}

/*
.chat-button {
    display: flex;
    align-items: center;
    background-color: #171F51; 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 19px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
}

.chat-button:hover {
    background: #171F51;
    transform: scale(1.05);
}

.chat-button svg {
    width: 20px;
    height: 20px;
    fill: white; /* Cor do ícone 
    margin-right: 8px;
}

*/

#versao {
    /* display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    height: 30px;
    */
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    
}

